<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
      <div class="container">
        <div class="row">
          <h3>What I Want To Get Out of The Week - 23/11/15</h3>
          <p>This week, for me, is about developing my skills as a computer programmer and widening my horizons. If I am able to learn new things or even a new language, this will be extremely beneficial.</p>
          <p>At university, I am planning on studying computer science, so what I really want to get out of this course is anything that will help me gain a better understanding of the subject, as this is not really something we can do at school. In my time here, I would like to be able to take away some new skills, and I am especially looking forward to being able to learn and implement some JavaScript, as this is relatively new for me. </p>
          <p> At school, we only get a very narrow view of what a computer does and how to work with this. </p>
        </div>
      </div>
    </div>
  </body>
</html>
