<h3>Instructions on Setting Up</h3>
<p> These are the instructions on how to set up node and vim, etc. </p>
<p>
<ol>
<li>sudo apt-get install git vim (installs git and vim)</li>
<li>sudo apt-get update (checks that everthing is updated)</li>
<li>sudo apt-get install curl (so that the next command works)</li>
<li>curl -sL https://deb.nodesource.com/setup_4.x | sudo bash - (the pipe uses the data from the first action in the second action)</li>
<li>sudo apt-get install node.js (installs node)</li>
<li>cd Desktop/</li>
<li>git clone https://github.com/CodeGuild-co/[your blog name] (links your github to this VB)</li>
<li>ls (lists the items in this part of the directory)</li>
<li>cd [your file directory]</li>
<li>npm install</li>
<li>ls</li>
<li>node index.js (I don't remember what this does)</li>
</ol> 
</p>

