<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>My thoughts on Ubuntu</h3>
                <p>Well, I would have to say that my first experiences with Ubuntu are mixed. I personally think that this is a very useful tool/software to use, as you can pick up from where you left off, and you can actually do anything without breaking your computer</p>
		<p>However ... Ubuntu is very complicated to set up, and I think that everyone who was new to it was quite confused at first. I think that I understand how to use it enough now, but it took a while. Also, you have to know what you are doing to use it properly, so I felt like I was asking people a lot of questions (probably too many). This meant that I was a lot slower than I could have been, which meant that I have not been able to get very far up to this point. </p> 
            </div>
          </div>
        </div>
    </body>
</html>

